@import "bourbon";
@import url(https://fonts.googleapis.com/css?family=Creepster);
@import url(https://fonts.googleapis.com/css?family=Butcherman);
@import url(https://fonts.googleapis.com/css?family=Alegreya);

$butcher: 'Butcherman', cursive;
$cursive: 'Creepster', cursive;
$serif: 'Alegreya', serif;
$primary-color: #BE44FD;
$font-color: #443266;
$light-font-color: #CCCCCC;

$desktop: 1000px;
$tablet: 830px;
$mobile: 600px;


* {
  margin: 0;
  padding: 0;
  font-family: $serif;
}

@import "helpers";
@import "nav";
@import "main_content";
@import "sidebar";
@import "footer";
@import "first_time";
@import "animations";
@import "omdb";
