/* SIDEBAR */
section#sidebar {
  display: inline-block;
  vertical-align: top;
  width: 17vw;
  margin-left: 2vw;
  color: $font-color;

  #first-time-reaccess {
    p {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .poster, .product {
    margin-top: 10vh;

    img {
      width: 17vw;
    }

    p {
      text-align: center;
    }
  }


}
