<!DOCTYPE html>
<html>
<head>
  <title>Horrorscope</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="first-time" class="cover">
  <div class="inner">
    <h1>Welcome!</h1>
    <p><input type="text" id="first-time-days" placeholder="DD"><input type="text" id="first-time-months" placeholder="MM"></p>
    <p><input type="email" id="first-time-email" placeholder="email@address.com"></p>
    <button id="submit-first-time">go</button>
    <button id="skip-first-time">skip</button>
  </div>
</div>

<%= yield %>

</body>
</html>
